.principalContainer{
    padding: 0%;
}

.btnTodos{
    font-family: "Roboto-Regular";
    width: 250px;
    background: transparent;
    color: rgb(22, 22, 22);
    border: 2px solid #F20746;
}
.btnTodos i{
    margin-right: 5px;
}
.btnTodos:hover{
    border: 2px solid #F20746;
}

/* Cabecera */
.cabecera{
    background: no-repeat center rgba(19, 19, 19, 0.432);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    background-blend-mode: multiply;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titulosCabecera{
    padding: 15px;
}
.titulosCabecera h1{
    width: 100%;
    font-size: 120px;
    font-family:"Pumpkin-Pancakes";
    color: white;
    margin: 0%;
}
.titulosCabecera hr{
    margin-top: 5px;
    margin-bottom: 8px;
    border-top: 2px solid #F20746
}
.titulosCabecera p{
    font-size: 22px;
    text-transform: uppercase;
    color: #F20746;
    font-family: "Roboto-Regular";
}

@media only screen and (max-width: 500px){
    .titulosCabecera h1{
        width: 100%;
        font-size: 80px;
    }
}
/* ------------------------------ */

/* Divisor */
.divisor{
    margin: 0% 10%;
}
.divisor h6{
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    margin: 0%;
}
.divisor i{
    color:#294B85;
}
.hrDivisor{
    border-top: 1px solid #294B85;
    width: 80%;
    margin-top: 3px;
}
/* ------------------------------ */

/* Destacados */
.destacados{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #bdbdbd96;
    padding: 20px 50px;
}

.destacados .card{
    box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.575)
}
.card-body{
    box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.575)
}

.slideTopAlquileres img{
    height: 200px;
}

.overlay{
    position: absolute;
    left: 2%;
    top: 2%;
    display: flex;
  }
  
.overlay h4{
    background-color: rgba(26, 26, 26, 0.774);;
    padding: 5px;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    margin: 0%;
}

.slideTopAlquileres .card{
    width: 95% !important;
}
@media only screen and (max-width: 600px){
    .slideTopAlquileres .card{
        width: 100% !important;
    }
}


.card-title{
    
    font-size: 23px;
    color: #3f3f3f;
    font-family: "Montserrat-Regular";
}
.precio{
    display: flex;
    align-items: center;
}
.precio h4{
    color: #F20746;
    font-family: "Poppins-Medium";
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 0%;
    font-weight: 500;
}
.precio p{
    color: rgb(134, 134, 134);
    margin-bottom: 0%;
    font-weight: 500;
}
.card-div{
    margin: 10px 5px;
    border-top: 1px solid #b4b4b4
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info p{
    margin-bottom: 0%;
    margin-left: 3px;
    font-weight: 500;
    color: #414141;
}
.info i{
    color: #414141;
}
.capacidad{
    border: 1px solid #F20746;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.habitaciones{
    border: 1px solid #F20746;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.filled{
    color: #F20746;
}

.defaultHeart{
    position: relative;
    display: inline-block;
    color:gray;
    font-size: 25px;
}

.paintedHeart{
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #F20746;
}

/* ------------------------------ */

/* Banner Publicitario */
.bannerPublicidad{
    margin-bottom: 20px;
}
.bannerPublicidadmovil{
    margin: 0% 0%;
    margin-bottom: 20px;
}
.link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    color: white;
    height: 40px;
    font-family: "Poppins-Medium";
}
.link i{
    margin-left: 5px;
}

/* ------------------------------ */

/* Categorias */
.categorias{
    text-align: center;
}

.categorias img{
    width: 100%;
    transition: .4s ease;
    margin: 13px 0px;
    box-shadow: 0px 10px 10px rgba(58, 58, 58, 0.575)
}
.categorias img:hover{
    transition: .4s ease;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
/* ------------------------------ */

/* Ciudades */
.col-img{
    position: relative;
}
.ciudades img{
    transition: .4s ease;
    width: 100%;
    height: 280px;
    border-radius: 5px;
    margin: 10px 0px;
    box-shadow: 0px 10px 10px rgba(58, 58, 58, 0.575);
    cursor: pointer;
}
.overlay-img{
    transition: .4s ease;
    background-color: rgba(24, 24, 24, 0.884);
    padding-left: inherit;
    padding-right: inherit;
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    margin: 0px 15px;
    text-align: center;
    
}
.overlay-img h5{
    margin: 0%;
    padding: 3px;
    color: white;
    font-family: "CaviarDreams";
}

.col-img:hover img{
    transition: .4s ease;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    z-index: 1;
}
.col-img:hover .overlay-img{
    transition: .4s ease;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    z-index: 1;
}

/* ------------------------------ */

