<div class="principalContainer container-fluid">
    <p-scrollTop [threshold]="200"></p-scrollTop>

    <header class="cabecera" style="background-image: url('assets/fondos/atardecer.jpg')">
        <div class="text-center titulosCabecera">
                <p>Descubre con nosotros</p>
                <hr>
                <h1>Traslasierra</h1>
        </div>
    </header>

    <br>
    <div class="divisor d-flex justify-content-between align-items-center">
        <h6>Elegidos para vos</h6>
        <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <hr class="hrDivisor">
        
    

   <div class="destacados">
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        >
        <div ngxSlickItem *ngFor="let alquiler of topAlquileres" class="slideTopAlquileres">
            <div class="card">
                <a href="" style="text-decoration: none;">
                    <img class="card-img-top" src="{{ alquiler.imgPrincipal }}" alt="" style="width: 100%">
                    <div class="overlay">
                        <h4><i class="fas fa-map-marker-alt"></i> {{alquiler.zona}}</h4>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title">{{alquiler.nombre}}</h5>
                      <div class="precio">
                        <h4>${{alquiler.precioGral}}</h4> 
                        <p>/{{alquiler.precioCond}}</p>
                      </div>
                      <hr class="card-div">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="info">
                            <div class="capacidad"><i class="fas fa-male"></i><p>{{alquiler.capacidad}}</p></div>
                            <div class="habitaciones"><i class="fas fa-bed"></i><p>{{alquiler.habitaciones}}</p></div>
                          </div>
                          <div>
                            <ngb-rating [(rate)]="alquiler.Raiting" [max]="5" [readonly]='true'>
                                <ng-template let-fill="fill">
                                  <span class="defaultHeart" [class.filled]="fill === 100">
                                    <span class="paintedHeart" [style.width.%]="fill">★</span>★
                                  </span>
                                </ng-template>
                            </ngb-rating>
                          </div>
                      </div>
                     
                    </div>
                </a>
            </div>
            
        </div>
        </ngx-slick-carousel>
    </div>

    <div class="bannerPublicidad">
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slidebannerPubli" 
        >
        <div ngxSlickItem *ngFor="let slide of publis" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
        </div>
        </ngx-slick-carousel>
    </div>


    <br>
    <div class="divisor d-flex justify-content-between align-items-center">
        <h6>Encontrá por categorias</h6>
        <i class="fas fa-th-large"></i>
    </div>
    <hr class="hrDivisor">

    
    <div class="categorias container">
       <div class="row">
            <div class="col-6 col-sm-4 col-md-2"><a [routerLink]="['/alojamientos/', 'hoteles', '4']"><img src="assets/categorias/Hotel.jpg" alt=""></a></div>
            <div class="col-6 col-sm-4 col-md-2"><a [routerLink]="['/alojamientos/', 'cabanias', '3']"><img src="assets/categorias/Cabaña.jpg" alt=""></a></div>
            <div class="col-6 col-sm-4 col-md-2"><a [routerLink]="['/alojamientos/', 'casas', '1']"><img src="assets/categorias/Casa.jpg" alt=""></a></div> 
            <div class="col-6 col-sm-4 col-md-2"><a [routerLink]="['/alojamientos/', 'dptos', '2']"><img src="assets/categorias/Dptos.jpg" alt=""></a></div>
            <div class="col-6 col-sm-4 col-md-2"><a [routerLink]="['/alojamientos/', 'campings', '5']"><img src="assets/categorias/Camping.jpg" alt=""></a></div> 
            <div class="col-6 col-sm-4 col-md-2"><a [routerLink]="['/alojamientos/', 'destacados', '6']"><img src="assets/categorias/Destacados.jpg" alt=""></a></div>
        </div>
    </div>
    
    <br><br>
    <div class="divisor d-flex justify-content-between align-items-center">
        <h6>Mira lo que cada localidad puede ofrecer</h6>
        <i class="fas fa-sun"></i>
    </div>
    <hr class="hrDivisor">

    <div class="ciudades container">
        <div class="row">
            <div class="col-img col-lg-8"> 
                <a [routerLink]="['/alojamientos/localidad/', 'mina-clavero', '1']">
                    <img src="assets/fondos/Mina.jpg" alt="" width="100%">
                    <div class="overlay-img">
                        <h5>Mina Clavero</h5>
                    </div>
                </a>
            </div>
            <div class="col-img col-lg-4"> 
                <a [routerLink]="['/alojamientos/localidad/', 'cura-brochero', '3']">
                    <img src="assets/fondos/Brochero.jpg" alt="">
                    <div class="overlay-img">
                        <h5>Villa Cura Brochero</h5>
                    </div>
                </a>    
            </div>
        </div>
        <div class="row">
            <div class="col-img col-lg-4">
                <a [routerLink]="['/alojamientos/localidad/', 'las-rosas', '4']">
                    <img src="assets/fondos/Rosas.jpg" alt="">
                    <div class="overlay-img">
                        <h5>Las Rosas</h5>
                    </div>
                </a> 
            </div>
            <div class="col-img col-lg-8">
                <a [routerLink]="['/alojamientos/localidad/', 'nono', '2']">
                    <img src="assets/fondos/Nono1.jpg" alt="">
                    <div class="overlay-img">
                       <h5>Nono</h5>
                   </div>
                </a>
            </div>
        </div>
        
        <br>
    
    
    </div>
</div>


