<div class="principalContainer container-fluid">
    <p-scrollTop [threshold]="200"></p-scrollTop>

    <header class="cabecera" style="background-image: url('assets/fondos/fondo.jpg')">
        <div class="text-center titulosCabecera">
                <h1>Alojamientos</h1>
        </div>
    </header>

    
    <br>
    <div class="divisor d-flex justify-content-between align-items-center">
        <h6>Encontrá lo que buscas con los filtros</h6>
        <i class="fas fa-filter"></i>
    </div>
    <hr class="hrDivisor">

    <div class="filtros">
        <div class="d-flex align-items-center justify-content-center mb-2">
            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
            <p-dropdown [options]="localidades" [(ngModel)]="selectedLocality" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Selecciona una Localidad">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value"  *ngIf="selectedLocality">
                        <div>{{selectedLocality.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                       <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        

        <div class="d-flex align-items-center justify-content-center mb-2">
            <div class="icon"><i class="fas fa-user"></i></div>
            <input class="cant-personas" name="cap" placeholder="Cant. Personas" type="text" [(ngModel)]="cantPersonas"> 
        </div>
      
        <div class="d-flex align-items-center justify-content-center mb-2">
            <div class="icon"><i class="fas fa-th-large"></i></div>
            <p-dropdown [options]="categorias" [(ngModel)]="selectedCategory" optionLabel="name" placeholder="Selecciona una Categoria"></p-dropdown>
        </div>

        <br>
        <div class="botones d-flex align-items-center justify-content-center">
            <button type="button" class="btnBuscar btn btn-dark" (click)="Buscar()" [disabled]="(selectedLocality==undefined && selectedCategory==undefined)"><i class="fas fa-search"></i>Buscar</button>
            <button type="button" class="btnLimpiar btn btn-dark" (click)="LimpiarFiltros()"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    
    
    <div *ngIf="click==true" class="resultados">
        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-search"></i><h6> Hemos encontrado <span>{{resultados}}</span> alojamientos para vos</h6></div> 
        <hr>
    </div>
    
    <div *ngIf="click==false" class="lblBuscar">
        <img class="card-img-top" src="assets/otros/busqueda.jpg" alt="" style="width: 400px; height: 250px;">
        <p>Selecciona una <span>Localidad</span> o <span>Categoria</span>, y dale click a <span>BUSCAR</span> para ver resultados.</p>
    </div>    

    <div class="Alquileres container-fluid">
        <div class="row">
            <div class="Tarjeta col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor ="let alquiler of Alojamientos | paginate: { itemsPerPage: 20, currentPage: page }">
              <a [routerLink]="['/alojamiento/', alquiler.nombre, alquiler.id]" target="blank" style="text-decoration: none;"> 
                <div class="card">
                    <img class="card-img-top" src="{{ alquiler.imgPrincipal }}" alt="" style="width: 100%">
                    <div class="overlay">
                        <h4><i class="fas fa-map-marker-alt"></i> {{alquiler.zona}}</h4>
                    </div>
    
                    <div class="card-body">
                      <h5 class="card-title">{{alquiler.nombre}}</h5>
                      <div class="precio">
                        <h4>${{alquiler.precioGral}}</h4> 
                        <p>/{{alquiler.precioCond}}</p>
                      </div>
                      <hr class="card-div">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="info">
                            <div class="capacidad"><i class="fas fa-male"></i><p>{{alquiler.capacidad}}</p></div>
                            <div class="habitaciones"><i class="fas fa-bed"></i><p>{{alquiler.habitaciones}}</p></div>
                          </div>
                          <div>
                            <ngb-rating [(rate)]="alquiler.Raiting" [max]="5" [readonly]='true'>
                                <ng-template let-fill="fill">
                                  <span class="defaultHeart" [class.filled]="fill === 100">
                                    <span class="paintedHeart" [style.width.%]="fill">★</span>★
                                  </span>
                                </ng-template>
                              </ngb-rating>
                          </div>
                      </div>
                     
                    </div>
                </div>
              </a>
            </div>
        </div>
    </div>

   
    <!-- Paginacion -->
    <div *ngIf="click==true" >
        <br>
        <pagination-controls class="text-center" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event"></pagination-controls>
    </div>
    
