.principalContainer{
   padding: 0%;
}

/* Divisor */
.divisor{
    margin: 0% 10%;
}
.divisor h6{
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    margin: 0%;
}
.divisor i{
    color:#294B85;
    margin-left: 8px;
}
.hrDivisor{
    border-top: 1px solid #294B85;
    width: 80%;
    margin-top: 3px;
}
/* ------------------------------ */

/* Cabecera */
.cabecera{
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 12vh;
    background-blend-mode: multiply;

    display: flex;
    justify-content: center;
    align-items: center;
}
.titulosCabecera{
    padding: 15px;
}
.titulosCabecera h1{
    width: 100%;
    font-size: 50px;
    font-family:"Pumpkin-Pancakes";
    color: white;
    margin: 0%;
}
/* ------------------------------ */

/* Filtro */
.filtros{
    margin: 25px 70px;
    padding: 18px;
    border: 1px solid #294B85;
    border-radius: 5px;
}
.filtros i{
    color: #F20746;
    font-size: 16px;
    width: 15px;
}
.icon{
    text-align: center;
    border: 1px solid #ced4da;
    padding: 7px;
}

@media only screen and (max-width: 600px){
    .filtros{
        margin: 25px 10px;
    }
    .cant-personas{
        width: 100%;
    }
}

.cant-personas{
    width: 300px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    font-size: 1rem;
    padding: 8px;
}
.cant-personas:hover{
    border-color: #2196F3
}

.botones i{
    color: white;
}
.btnBuscar{
    width: 270px;
    margin-right: 8px;
}
.btnBuscar i{
    margin-right: 5px;
}
.btnLimpiar{
    width:53px;
}

.filterhr{
    margin: 3px 0px;
}
.agregar .btn{
    font-family: "Roboto-Regular";
    width: 250px;
    color: rgb(22, 22, 22);
    background: transparent;
    border: 1px solid #F20746;
    margin-top: 10px;
    margin-bottom: 8px;
}
.agregar .btn:hover{
    background-color: #33373b;
    color: white;
    border: 1px solid #F20746;
}

.agregar i{
    margin-right: 8px;
}
/* ------------------------------ */

/* mas filtros */
.servicios{
    margin: 8px;
}
.servicio{
    margin-bottom: 10px;
}
.s{
    width: 200px;
}
.s input{
    margin-right: 15px;  
     transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
}

.more{
    margin: 20px;
}
.click{
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.click hr{
    border-top: 1px solid #757575;
    width: 30%;
}
.click a{
    width: 230px;
    font-family: "Poppins-Medium";
}
.info{
    text-align: center;
    font-family: "Poppins-Medium";
    font-size: 15px;
}
.info span{
    color: #F20746;
}
/* ------------------------------ */

/* Mensaje */

.resultados h6{
    font-size: 17px;
    margin: 0%;
    margin-left: 5px;
}
.resultados span{
    color: #F20746;
}
.resultados hr{
    width: 60%;
    margin-top: 5px;
    margin-bottom: 8px;
    border-top: 1px solid #F20746
}
.lblBuscar{
    text-align: center;
}
.lblBuscar p{
    margin: 0%;
    padding: 8px;
    border-radius: 3px;
    color: rgb(58, 58, 58);
    background-color: #e6e6e6;
    font-size: 17px;
    font-family: "Poppins-Medium";
}
.lblBuscar span{
    color: #F20746;
}

/* ------------------------------ */

/* Alojamientos */
.Alquileres{
    padding: 10px 70px;
}
.card{
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 8px #3d3d3d3f;
}
.col{
    padding: 8px !important;
}

/* @media only screen and (max-width: 1500px){
    .col{
       max-width: 300px;
    }
} */
.Tarjeta img{
    height: 200px;
}

.overlay{
    position: absolute;
    left: 2%;
    top: 2%;
    display: flex;
  }
  
.overlay h4{
    background-color: rgba(26, 26, 26, 0.774);;
    padding: 5px;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    margin: 0%;
}

.over-verify{
    position: absolute;
    left: 88%;
    top: 2%;
    display: flex;
}
.over-verify img{
    width: 28px !important;
    height: 28px !important;
}
.card-title{
    font-family: "Roboto-Medium";
    font-size: 23px;
    color: #3f3f3f;
    font-family: "Montserrat-Regular";
}
.precio{
    display: flex;
    align-items: center;
}
.precio h4{
    color: #F20746;
    font-family: "Poppins-Medium";
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 0%;
    font-weight: 500;
}
.precio p{
    color: rgb(134, 134, 134);
    margin-bottom: 0%;
    font-weight: 500;
}
.card-div{
    margin: 10px 5px;
    border-top: 1px solid #b4b4b4
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info p{
    margin-bottom: 0%;
    margin-left: 3px;
    font-weight: 500;
    color: #414141;
}
.info i{
    color: #414141;
}
.capacidad{
    border: 1px solid #F20746;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.habitaciones{
    border: 1px solid #F20746;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.filled{
    color: #F20746;
}

.defaultHeart{
    position: relative;
    display: inline-block;
    color:gray;
    font-size: 25px;
}

.paintedHeart{
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #F20746;
}
/* ------------------------------ */