<p-scrollTop [threshold]="200"></p-scrollTop>
<div class="principalContainer container-fluid" *ngFor ="let alquiler of DetaAlquiler">
    <div class="imgFondo" [style.backgroundImage]="'url('+ alquiler.imgPrincipal +')'">
        
        <div class="overTitulo">
            <h5>{{alquiler.categoria}}</h5>
           <div class="Titulo">{{alquiler.nombre}}</div>
           <hr id="separador">
        </div>

        <div class="overlay row-cols-2">
            <div class="valoraciones col-12 text-center">
                <h4 class="text-center">Valoración</h4>
                <div class="stars">
                    <h5>{{alquiler.Raiting}}</h5>
                    <div class="text-center">
                        <ngb-rating [(rate)]="alquiler.Raiting" [max]="5" [readonly]='true'>
                            <ng-template let-fill="fill">
                              <span class="defaultHeart" [class.filled]="fill === 100">
                                <span class="paintedHeart" [style.width.%]="fill">★</span>★
                              </span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                </div>
               
            </div>
            <div class="botones col-6 d-flex">
                <div class="imagenes">
                    <a class="btn" role="button" rel="nofollow"  (click)="scrollToGalery()"><i class="fas fa-image"></i>  Imagenes</a>
                </div>
                <div class="contacto">
                    <a class="btn" role="button" rel="nofollow" (click)="scrollToRaiting()"><i class="fas fa-user-friends"></i>  Reseñas</a>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="stick" *ngIf="innerWidth<768">
   <div class="Movil card" *ngFor ="let alquiler of DetaAlquiler">
    <div class="row">
        <div class="col precio-Movil">
            <h4>${{alquiler.precioGral}}</h4> 
            <p>/{{alquiler.precioCond}}</p>
        </div>
        <div class="col btns-movil">
            <button type="button" class="btn btn-dark mail" (click)="scrollToContact()"><i class="fas fa-envelope"></i></button>
            <button type="button" class="btn btn-dark wpp"><i class="fab fa-whatsapp"></i></button>
        </div>
    </div>
    <hr class="tarifa-hr">
    <p style="text-align: center;">Consulta por promociones y tarifas</p>
   </div> 
</div>

<br>
<div class="container-fluid cuerpo">
    <div class="row row-cols-2" *ngFor ="let alquiler of DetaAlquiler">
        <div class="col col-12 col-md-8">
            <!-- info -->
            <p class="info"><i class="fas fa-caret-right"></i> Alojamiento de tipo <span>{{alquiler.categoria}}</span> con capacidad para <span>{{alquiler.capacidad}}</span> personas y <span>{{alquiler.habitaciones}}</span> habitaciones</p>
            <hr class="divisor">
            <p class="desc">{{alquiler.descripcion}}</p>

            <hr class="divisor">

            <!-- Servicios -->
            <h4 class="subTitulo"><i class="fas fa-th-list"></i>Servicios</h4>
            <div class="row servicios">
                    <div *ngFor ="let servicio of ServiciosDestacados" class="col-12 col-lg-4 servicio">
                        <img [src]="servicio.icono" class="card-img-top">
                        <p><span>{{servicio.servicio}}</span>  {{servicio.descripcion}}</p>
                    </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btnTodos btn btn-dark" data-toggle="modal" data-target="#Modal3">Ver Todos</button>
            </div>

            <hr id="toGaleria" class="divisor">
             <!-- Galeria -->
            <h4 class="subTitulo"><i class="fas fa-images"></i>Galeria</h4>
            
                <div class="container">
                    <div class="feedback-slides">
                        <div class="client-feedback">
                            <ngx-slick-carousel 
                                class="carousel feedback" 
                                #slickModal="slick-carousel" 
                                [config]="imagesSlider">
                                <div id="container-imgGrande" ngxSlickItem *ngFor="let gImg of GaleriaAlquiler; let i = index" class="slide">
                                       <a href="{{ gImg.thumb }}" data-lightbox="roadtrip"><img class="imgGrande" src="{{ gImg.thumb }}" alt="" width="100%"></a> 
                                        
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>

                    <div class="client-thumbnails">
                        <ngx-slick-carousel 
                        class="carousel thumbs" 
                        #slickModal="slick-carousel" 
                        [config]="thumbnailsSlider ">
                        <div id="container-imgPequeña" ngxSlickItem *ngFor="let gImg of GaleriaAlquiler" class="slide">
                            <img class="imgPequeña" src="{{ gImg.thumb }}" alt="" width="100%">
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
                <div style="text-align: center;"><p class="pinfo">Click sobre imagen para ver más</p></div>
                
            <hr class="divisor">
            <!-- Ubicacion -->
            <h4 class="subTitulo"><i class="fas fa-map-marker-alt"></i>Ubicación</h4>
            <div id="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions"></div>
            <div style="text-align: center;"><p class="pinfo">La ubicación exacta se la brindará el hospedante</p></div>
            
            <hr id="toContact" class="divisor">
            <!-- Contacto -->
            <h4 class="subTitulo"><i class="fas fa-address-card"></i>Contacto</h4>

            <hr id="toRaiting" class="divisor">
            <!-- Comentarios -->
            <h4 class="subTitulo"><i class="fas fa-user-friends"></i>Reseñas</h4>


            <!-- ModalServicios -->
            <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header align-items-center h-100">
                            <h5 class="modal-title">Viendo los servicios de {{alquiler.nombre}}</h5>
                            <button id="btnCerrarModal" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                
                                <div *ngFor ="let servicio of ServiciosAlquiler" class="servicio">
                                    <img [src]="servicio.icono" class="card-img-top">
                                    <p><span>{{servicio.servicio}}</span>  {{servicio.descripcion}}</p>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-4">
            <div class="stick-pc" *ngIf="innerWidth>768">
                <div class="card pc" *ngFor ="let alquiler of DetaAlquiler">
                    <div class="row">
                        <div class="col precio-pc">
                            <h4>${{alquiler.precioGral}}</h4> 
                            <p>/{{alquiler.precioCond}}</p>
                        </div>
                        <div class="col btns">
                            <button type="button" class="btn btn-dark mail" (click)="scrollToContact()"><i class="fas fa-envelope"></i></button>
                            <button type="button" class="btn btn-dark wpp"><i class="fab fa-whatsapp"></i></button>
                        </div>
                    </div>
                    <hr class="tarifa-hr">
                    <p style="text-align: center;">Consulta por promociones y tarifas</p>
                </div>
            </div>
        </div>
    </div>
</div>


