.cuerpo{
    width: 87%;
}

.limitTextHeight {
    height: 45px;
    overflow: hidden;
}
.limitConditionsHeight{
    height: 80px;
    overflow: hidden;
}

.readMore{
    text-align: center;
    padding: 8px;
}
.readMore a{
    width: 200px;
    font-family: "Poppins-Medium";
    color: #516281;
    font-size: 15px;
}
.readMore hr{
    border-top: 1px solid #757575;
    width: 50%;
}
.readMore .izq{
    margin-left: 30px;
}
.readMore .der{
    margin-right: 30px;
}

/* Cabecera */
.principalContainer{
    margin: 0%;
    padding: 0%;
    margin-bottom: 50px;
}
.imgFondo{
    background: no-repeat center rgba(19, 19, 19, 0.438);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    
    background-blend-mode: multiply;
    position: relative;
}

.overTitulo{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 3px;
    color: white;}
   
.overTitulo .Titulo{
    font-family: "Pumpkin-Pancakes";
    font-size: 80px;
    text-shadow: 3px 3px 0px rgba(41, 41, 41, 0.61);
    line-height: 50pt;
    word-spacing: -18pt;
    margin-bottom: 8px;
    margin-top: 15px;
}

#separador{
    margin-top: 0%;
    margin-bottom: 20px;
    border: 1px solid #F20746;
    border-radius: 300px/10px;
}

.overlay{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%,-50%);
    background-color: rgba(26, 26, 26, 0.815);
    text-align: center;
    padding: 3px;
    transition: all ease .2s;
  }

.valoraciones{
      padding: 5px;
      margin-right: 5px;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars h5{
    margin-top: 3px;
    margin-bottom: 0%;
    margin-right: 10px;
    color: white;
}

.valoraciones h4{
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 12px;
      margin-bottom: 3px;
}

.filled{
    color: #f2da07;
}

.defaultHeart{
    position: relative;
    display: inline-block;
    color:gray;
    font-size: 25px;
}

.paintedHeart{
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #f2da07;
}


.botones .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 6px 34px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    background-color: transparent;
    transition: all ease .2s;
    margin: 5px 3px;
}

.botones .btn:hover{
    background-color: #294B85;
    border: 2px solid #294B85;
}
    .botones .btn i{
        margin-right: 8px;
    }

/* --------------------------------------------------- */

/* Subtitulos */
.subTitulo{
    color: #303030;
    font-family: "Amaranth-Regular";
    margin-bottom: 15px;
}
.subTitulo i{
    margin-right: 5px;
    color: #F20746;
}
.divisor{
    margin: 30px 0px;
    border-top: 1px solid #acacac;
}
/* --------------------------------------------------- */

/* Tarifas */
.stick{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100 !important;
}
.Movil{
    margin: 10px;
    padding: 8px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.575)
}
.Movil p{
    margin: 0%;
    font-size: 12px;
    color: rgb(58, 58, 58);
    font-family: "Poppins-Medium";
}

.precio-Movil{
    margin-left: 15px;
    display: flex;
    align-items: center;
    padding: 8px;
    padding-bottom: 0%;
}
.precio-Movil h4{
    color: #F20746;
    font-family: "Poppins-Medium";
    font-size: 28px;
    margin-right: 5px;
    margin-bottom: 0%;
    font-weight: 500;
    word-spacing: -5pt;
}
.precio-Movil p{
    color: rgb(134, 134, 134);
    margin-bottom: 0%;
    font-weight: 500;
    font-size: 17px;
}
.btns-movil{
    padding: 8px;
    padding-bottom: 0%;
    margin-right: 15px;
    text-align: right;
}
.btns-movil .btn{
    margin-right: 5px;
}

.tarifa-hr{
    margin: 8px 0px;
}

.stick-pc{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100 !important;
}
.pc{
    border-left: 4px solid #7a7a7a;
    box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.575)
}
.precio-pc{
    margin-left: 15px;
    display: flex;
    align-items: center;
    padding: 8px;
    padding-bottom: 0%;
}
.precio-pc h4{
    color: #F20746;
    font-family: "Poppins-Medium";
    font-size: 33px;
    margin-right: 5px;
    margin-bottom: 0%;
    font-weight: 500;
}
.precio-pc p{
    color: rgb(134, 134, 134);
    margin-bottom: 0%;
    font-weight: 500;
    font-size: 23px;
}
.pc p{
    font-size: 15px;
    color: #3d3d3d;
    font-family: "Poppins-Medium";
}
.pc .btns{
    padding: 8px;
    padding-bottom: 0%;
    margin-right: 15px;
    text-align: right;
}
.btns .btn{
    margin-right: 5px;
}
.wpp{
    background-color: #00a050;
}
.mail{
    background-color: #294B85;
}

@media only screen and (max-width: 967px){
    .pc .btns{
        text-align: center;
        margin: 0%;
    }
    
}
/* --------------------------------------------------- */


/* Descripcion */
.info{
    font-size: 21px;
    color: rgb(58, 58, 58);
    font-family: "Roboto-Regular";
}
.info span{
    color: #F20746;
}
.desc{
    font-size: 20px;
    color: rgb(75, 75, 75);
    font-family: "Asap-Regular";
    white-space: pre-line;
    margin: 0%;
}
/* --------------------------------------------------- */


/* Servicios */
.servicios{
    margin: 20px 30px;
    border-radius: 3px;
}
.servicio{
    display: flex;
    align-items: center;
    padding: 8px;
} 
.servicio img{
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.servicio p{
    margin: 0%;
    font-family: "Poppins-Regular";
    color: rgb(109, 108, 108);
}
.servicio span{
    margin-right: 10px;
    font-family: "Poppins-Medium";
    font-size: 18px;
    color: rgb(73, 73, 73);
}
.btnTodos{
    font-family: "Roboto-Regular";
    width: 250px;
    background: transparent;
    color: rgb(22, 22, 22);
    border: 2px solid #F20746;
}
.btnTodos i{
    margin-right: 5px;
}
.btnTodos:hover{
    border: 2px solid #F20746;
}
/* --------------------------------------------------- */

/* Galeria */
    #container-imgGrande{margin-bottom: 5px;}
    .imgGrande{ height: 480px; border-radius: 5px; transition: ease 0.5s;}

    #container-imgPequeña{height: 100px;}
    .imgPequeña{cursor: pointer; height:100px;}
    .imgPequeña:hover{filter:brightness(70%);}

    @media only screen and (max-width: 1000px){
        .imgGrande{ height: 350px;}
        #container-imgPequeña, .imgPequeña{height: 80px;}}
    @media only screen and (max-width: 480px){
        .imgGrande{ height: 250px;}
        #container-imgPequeña, .imgPequeña{height: 70px;}}

    #galeryColContainer{ padding: 5px;}    
    #itemGaleria :hover{ filter:brightness(90%) }
    #itemGaleria{ transition: .5s ease-in-out; margin: 0%;}
    #itemGaleria img{ margin: 0%; height: 100%;}
    #imgPrincipalGalery{ padding: 0%;}    

    .imgGrande:hover{
        filter:brightness(70%);
        cursor: zoom-in;
    }

.pinfo{
    margin-bottom: 0%;
    margin-top: 15px;
    font-size: 16px;
    color: #3d3d3d;
    font-family: "Poppins-Medium";
}
/* --------------------------------------------------- */

/* Ubicacion */
#map {
    height: 400px;
}
.map-overlay{
    background-color: rgba(63, 63, 63, 0.884);
    position: relative;
    text-align: center;
    padding: 5px;
}
.map-overlay p{
    margin: 0%;
    font-family: "Roboto-Medium";
    color: #ffffff;
}
/* --------------------------------------------------- */

/* Contacto */
.form-contact{
    padding: 25px;
    border-radius: 5px;
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    overflow: hidden;
    border: solid 1px rgb(212, 212, 212);
    /* background: rgb(202, 202, 202); */
}
.form-contact label{
    display: block;
    color: rgb(36, 36, 36);
    font-family: "Roboto-Medium";
}
.left-icon{
    width: 25px;
}
.left-icon img{
   width: 20px;
   height: 20px;
}
.form-contact .btn{
    width: 300px;
}
@media only screen and (max-width: 850px){
    .form-contact .btn{
        width: 100%;
    }
}

.pContacto{
    font-size: 15px;
    color: #3d3d3d;
    font-family: "Poppins-Medium";
    margin-bottom: 0px;
    margin-top: 8px;
}
.hrContacto{
    margin-top: 2px;
}


.DatosContacto{
    margin: 15px 0px;
    border: solid 1px #F20746;
    border-radius: 5px;
    padding: 20px 0px;
    background: #f3f3f3
}

.card-info{
    text-align: center;
    margin-top: 15px;
}
.card-info img{
    width: 40px;
    height: 40px;
}
.card-info h6{
    font-family: "Poppins-Medium";
    margin: 5px 0px;
    color: rgb(44, 44, 44);
    font-size: 17px;
}
.card-info p{
    text-decoration: none;
    font-size: 18px;
    font-family: "Asap-Regular";
    color: rgb(82, 82, 82);
    white-space: pre-line;
    margin: 0%;
}
.card-info a{
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-family: "Asap-Regular";
    color: rgb(82, 82, 82);
    margin: 0%;
}
@media only screen and (max-width: 500px){
    .card-info p{font-size: 15px;}
    .card-info a{font-size: 15px;}
}

.btnEnviar{
    border-radius: 5px;
}

/* Errores FormContacto */
.has-error{
    border: 1px solid #ff0000;
}
small{
    color: red;
    margin: 0%;
}
.Input-error p{
    margin: 0%;
}
.Input-error{
    display: block;
    margin-left: 25px;
}
.Input-error2{
    display: block;
}
.Input-error2 p{
    margin: 0%;
}
/* --------------------------------------------------- */


/* Reseñas */
.reseñas{
    margin-bottom: 20px;
}

/* .reseñas h5{
    font-family: "Poppins-Medium";
    font-size: 50px;
    color: rgb(22, 22, 22);
    margin-bottom: -5px;
} */
.txt-raiting{
    font-family: "Poppins-Medium";
    font-size: 50px;
    color: rgb(22, 22, 22);
    margin-bottom: -5px;
}
.color{
    color: #F20746;
}
.defaultstar{
    position: relative;
    display: inline-block;
    color:gray;
    font-size: 35px;
}

.paintedstar{
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #F20746;
}

.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}
.label-bar{
    width: 120px;
    font-family: "Roboto-Medium";
    margin-bottom: 0%;
    margin-right: 5px;
    color: rgb(73, 73, 73);
    font-size: 15px;
}
.numero{
    text-align: right;
    width: 30px;
    font-family: "Roboto-Medium";
    margin-bottom: 0%;
    color: rgb(73, 73, 73);
    font-size: 15px;
}


.starComent{
    position: relative;
    display: inline-block;
    color:gray;
    font-size: 20px;
}

.paintedComent{
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #F20746;
}

.comentario{
    padding: 15px 25px;
    margin: 5px 0px;
}
.comentario h6{
    font-family: "Roboto-Regular";
    font-size: 18px;
}
.comentario h5{
    font-family: "Roboto-Regular";
    font-size: 15px;
}
.comentario p{
    margin: 0%;
    font-family: "Asap-Regular";
}
.mss{
    text-align: center;
    font-family: "Poppins-Medium";
    color: rgb(22, 22, 22);
    margin-bottom: 3px;
    margin-top: 3px;
}
.agregar .btn{
    font-family: "Roboto-Regular";
    width: 250px;
    color: rgb(22, 22, 22);
    background: transparent;
    border: 2px solid #00a050;
    margin-top: 10px;
}
.agregar .btn:hover{
    background-color: #23272b;
    color: white;
    border: 2px solid #00a050;
}

.agregar i{
    margin-right: 8px;
}
.reseñasHr{
    margin-top: 12px;
    width: 70%;
    border-top: 1px solid #acacac;
}
/* --------------------------------------------------- */


/* Condiciones */
.Condiciones{
    margin-top: 10px;
    margin-left: 20px;
}
.Condicion{
    margin: 10px 0px;
    color: rgb(75, 75, 75);
    font-family: "Asap-Regular";
}
.Condicion i{
    margin-right: 5px;
    color: #00a050;
}
/* --------------------------------------------------- */

/* Relacionados */
.Relacionados img{
    height: 150px;
}
@media only screen and (max-width: 1270px) and (min-width: 991px) {
    .Relacionados img{
        height: 100px;
    }
}
@media only screen and (max-width: 700px) {
    .Relacionados img{
        height: 130px;
    }
    .Relacionados .card-title{
        font-size: 18px;
     }
     .precio h4{
       font-size: 15px;
    }
    .precio p{
        font-size: 10px;
    }
}

.Relacionados h6{
    font-family: "Poppins-Medium";
    color: rgb(22, 22, 22);
}
.Relacionados .card{
   margin: 5px;
}
.Relacionados .card-title{
    text-align: center;
    font-size: 20px;
    color: #3f3f3f;
    font-family: "Montserrat-Regular";
}
.precio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.precio h4{
    color: #294B85;
    font-family: "Poppins-Medium";
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 0%;
    font-weight: 500;
}
.precio p{
    color: rgb(134, 134, 134);
    margin-bottom: 0%;
    font-weight: 500;
}
/* --------------------------------------------------- */
