.cuerpo{
    width: 87%;
}

/* Cabecera */
.principalContainer{
    margin: 0%;
    padding: 0%;
    margin-bottom: 50px;
}
.imgFondo{
    background: no-repeat center rgba(19, 19, 19, 0.438);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    
    background-blend-mode: multiply;
    position: relative;
}

.overTitulo{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 3px;
    color: white;}
   
.overTitulo .Titulo{
    font-family: "Pumpkin-Pancakes";
    font-size: 80px;
    text-shadow: 3px 3px 0px rgba(41, 41, 41, 0.61);
    line-height: 50pt;
    word-spacing: -18pt;
    margin-bottom: 8px;
    margin-top: 15px;
}

#separador{
    margin-top: 0%;
    margin-bottom: 20px;
    border: 1px solid #F20746;
    border-radius: 300px/10px;
}

.overlay{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%,-50%);
    background-color: rgba(26, 26, 26, 0.815);
    text-align: center;
    padding: 3px;
    transition: all ease .2s;
  }

.valoraciones{
      padding: 5px;
      margin-right: 5px;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars h5{
    margin-top: 3px;
    margin-bottom: 0%;
    margin-right: 10px;
    color: white;
}

.valoraciones h4{
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 12px;
      margin-bottom: 3px;
}

.filled{
    color: #f2da07;
}

.defaultHeart{
    position: relative;
    display: inline-block;
    color:gray;
    font-size: 25px;
}

.paintedHeart{
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #f2da07;
}


.botones .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 6px 34px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    background-color: transparent;
    transition: all ease .2s;
    margin: 5px 3px;
}

.botones .btn:hover{
    background-color: #294B85;
    border: 2px solid #294B85;
}
    .botones .btn i{
        margin-right: 8px;
    }

/* --------------------------------------------------- */

/* Subtitulos */
.subTitulo{
    color: #303030;
    font-family: "Amaranth-Regular";
    margin-bottom: 15px;
}
.subTitulo i{
    margin-right: 5px;
    color: #F20746;
}
.divisor{
    margin: 30px 0px;
    border-top: 1px solid #acacac;
}
/* --------------------------------------------------- */

/* Tarifas */
.stick{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100 !important;
}
.Movil{
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.575)
}
.Movil p{
    margin: 0%;
    font-size: 15px;
    color: rgb(58, 58, 58);
    font-family: "Poppins-Medium";
}

.precio-Movil{
    margin-left: 15px;
    display: flex;
    align-items: center;
    padding: 8px;
    padding-bottom: 0%;
}
.precio-Movil h4{
    color: #F20746;
    font-family: "Poppins-Medium";
    font-size: 28px;
    margin-right: 5px;
    margin-bottom: 0%;
    font-weight: 500;
    word-spacing: -5pt;
}
.precio-Movil p{
    color: rgb(134, 134, 134);
    margin-bottom: 0%;
    font-weight: 500;
    font-size: 17px;
}
.btns-movil{
    padding: 8px;
    padding-bottom: 0%;
    margin-right: 15px;
    text-align: right;
}
.btns-movil .btn{
    margin-right: 5px;
}

.tarifa-hr{
    margin: 8px 0px;
}

.stick-pc{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100 !important;
}
.pc{
    border-left: 4px solid #7a7a7a;
    box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.575)
}
.precio-pc{
    margin-left: 15px;
    display: flex;
    align-items: center;
    padding: 8px;
    padding-bottom: 0%;
}
.precio-pc h4{
    color: #F20746;
    font-family: "Poppins-Medium";
    font-size: 33px;
    margin-right: 5px;
    margin-bottom: 0%;
    font-weight: 500;
}
.precio-pc p{
    color: rgb(134, 134, 134);
    margin-bottom: 0%;
    font-weight: 500;
    font-size: 23px;
}
.pc p{
    font-size: 15px;
    color: #3d3d3d;
    font-family: "Poppins-Medium";
}
.pc .btns{
    padding: 8px;
    padding-bottom: 0%;
    margin-right: 15px;
    text-align: right;
}
.btns .btn{
    margin-right: 5px;
}
.wpp{
    background-color: #00a050;
}
.mail{
    background-color: #294B85;
}

@media only screen and (max-width: 967px){
    .pc .btns{
        text-align: center;
        margin: 0%;
    }
    
}
/* --------------------------------------------------- */


/* Descripcion */
.info{
    font-size: 21px;
    color: rgb(58, 58, 58);
    font-family: "Roboto-Regular";
}
.info span{
    color: #F20746;
}
.desc{
    font-size: 20px;
    color: rgb(75, 75, 75);
    font-family: "Asap-Regular";
}
/* --------------------------------------------------- */


/* Servicios */
.servicios{
    margin: 20px 30px;
    border-radius: 3px;
}
.servicio{
    display: flex;
    align-items: center;
    padding: 8px;
} 
.servicio img{
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.servicio p{
    margin: 0%;
    font-family: "Poppins-Regular";
    color: rgb(109, 108, 108);
}
.servicio span{
    margin-right: 10px;
    font-family: "Poppins-Medium";
    font-size: 18px;
    color: rgb(73, 73, 73);
}
.btnTodos{
    font-family: "Roboto-Regular";
    width: 250px;
    background: transparent;
    color: rgb(22, 22, 22);
    border: 1px solid #F20746;
}
/* --------------------------------------------------- */

/* Galeria */
    #container-imgGrande{margin-bottom: 5px;}
    .imgGrande{ height: 480px; border-radius: 5px; transition: ease 0.5s;}

    #container-imgPequeña{height: 100px;}
    .imgPequeña{cursor: pointer; height:100px;}
    .imgPequeña:hover{filter:brightness(70%);}

    @media only screen and (max-width: 1000px){
        .imgGrande{ height: 350px;}
        #container-imgPequeña, .imgPequeña{height: 80px;}}
    @media only screen and (max-width: 480px){
        .imgGrande{ height: 250px;}
        #container-imgPequeña, .imgPequeña{height: 70px;}}

    #galeryColContainer{ padding: 5px;}    
    #itemGaleria :hover{ filter:brightness(90%) }
    #itemGaleria{ transition: .5s ease-in-out; margin: 0%;}
    #itemGaleria img{ margin: 0%; height: 100%;}
    #imgPrincipalGalery{ padding: 0%;}    

    .imgGrande:hover{
        filter:brightness(70%);
        cursor: zoom-in;
    }

.pinfo{
    margin-bottom: 0%;
    margin-top: 15px;
    font-size: 16px;
    color: #3d3d3d;
    font-family: "Poppins-Medium";
}
/* --------------------------------------------------- */

/* Ubicacion */
#map {
    height: 400px;
}
/* --------------------------------------------------- */

