<!-- size="medium"
            color="#fff"
            type="ball-scale-multiple" -->

<p-scrollTop [threshold]="200"></p-scrollTop>
<ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            template="<img src='assets/otros/loading.gif'/>"
            >
</ngx-spinner>

<div class="principalContainer container-fluid" *ngFor ="let alquiler of DetaAlquiler">
    <div class="imgFondo" [style.backgroundImage]="'url('+ alquiler.imgPrincipal +')'">
        
        <div class="overTitulo">
            <h5>{{alquiler.categoria}}</h5>
           <div class="Titulo">{{alquiler.nombre}}</div>
           <hr id="separador">
        </div>

        <div class="overlay row-cols-2">
            <div class="valoraciones col-12 text-center">
                <h4 class="text-center">Valoración</h4>
                <div class="stars">
                    <h5>{{alquiler.Raiting}}</h5>
                    <div class="text-center">
                        <ngb-rating [(rate)]="alquiler.Raiting" [max]="5" [readonly]='true'>
                            <ng-template let-fill="fill">
                              <span class="defaultHeart" [class.filled]="fill === 100">
                                <span class="paintedHeart" [style.width.%]="fill">★</span>★
                              </span>
                            </ng-template>
                        </ngb-rating>
                    </div>

                    <div class="check" *ngIf="alquiler.verificado==1">
                        <img src="assets/otros/verify.png" alt="">
                    </div>
                </div>
               
            </div>
            <div class="botones col-6 d-flex">
                <div class="imagenes">
                    <a class="btn" role="button" rel="nofollow"  (click)="scrollToGalery()"><i class="fas fa-image"></i>  Imagenes</a>
                </div>
                <div class="contacto">
                    <a class="btn" role="button" rel="nofollow" (click)="scrollToRaiting()"><i class="fas fa-user-friends"></i>  Reseñas</a>
                </div>
            </div>
            
        </div>
    </div>
</div>



<div class="stick" *ngIf="innerWidth<991">
   <div class="Movil card" *ngFor ="let alquiler of DetaAlquiler">
    <div class="row">
        <div class="col precio-Movil">
            <h4>${{alquiler.precioGral}}</h4> 
            <p>/{{alquiler.precioCond}}</p>
        </div>
        <div class="col btns-movil">
            <button type="button" class="btn btn-dark mail" (click)="scrollToContact()"><i class="fas fa-envelope"></i></button>
            <a target="_blank" href="https://wa.me/{{alquiler.wpp}}?text=Hola%2C%20Te%20escribo%20por%20tu%20alojamiento%20publicado%20en%20valleserrano.ar"><button type="button" class="btn btn-dark wpp"><i class="fab fa-whatsapp"></i></button></a>
        </div>
    </div>
    <hr class="tarifa-hr">
    <div style="text-align: center;"><p>Consulta por promociones y tarifas</p></div>
    
   </div> 
</div>
<div *ngIf="innerWidth<991">
    <div *ngFor ="let alquiler of DetaAlquiler">
        <div class="card box-verificado" *ngIf="alquiler.verificado==1" style="margin: 0px 10px;">
            <div class="row box">
                    <div class="col-3" style="text-align: center;">
                        <img src="assets/otros/verify2.png" alt="">
                    </div>
                    <div class="col-9">
                        <h6>Alojamiento Verificado</h6>
                        <p>Valle Serrano se asegura que este alojamiento existe, la ubicación proporcionada es correcta, fotos, reseñas y servicios son reales.</p> 
                    </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container-fluid cuerpo">
    <div class="row row-cols-2" *ngFor ="let alquiler of DetaAlquiler">
        <div class="col col-12 col-lg-8">
            <!-- info -->
            <p class="info"><i class="fas fa-caret-right"></i> Alojamiento de tipo <span>{{alquiler.categoria}}</span> con capacidad para <span>{{alquiler.capacidad}}</span> personas y <span>{{alquiler.habitaciones}}</span> habitaciones</p>
          
            <div [ngClass]="{'limitTextHeight': isReadMore}">
                <p class="desc">{{alquiler.descripcion}}</p>
            </div>
            <div class="readMore d-flex align-items-center"><hr class="izq"><a type="button" (click)="showText()">{{ isReadMore ? 'Ver Más': 'Ver Menos' }}</a><hr  class="der"></div>


            <hr class="divisor">

            <!-- Servicios -->
            <h4 class="subTitulo"><i class="fas fa-th-list"></i>Servicios</h4>
            <div class="row servicios">
                    <div *ngFor ="let servicio of ServiciosDestacados" class="col-12 col-lg-4 servicio">
                        <img [src]="servicio.icono" class="card-img-top">
                        <p><span>{{servicio.servicio}}</span>  {{servicio.descripcion}}</p>
                    </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btnTodos btn btn-dark" data-toggle="modal" data-target="#Modal3"><i class="fas fa-eye"></i> Ver Todos</button>
            </div>

            <hr id="toGaleria" class="divisor">
             <!-- Galeria -->
            <h4 class="subTitulo"><i class="fas fa-images"></i>Galeria</h4>
            
                <div class="container">
                    <div class="feedback-slides">
                        <div class="client-feedback">
                            <ngx-slick-carousel 
                                class="carousel feedback" 
                                #slickModal="slick-carousel" 
                                [config]="imagesSlider">
                                <div id="container-imgGrande" ngxSlickItem *ngFor="let gImg of GaleriaAlquiler; let i = index" class="slide">
                                       <a href="{{ gImg.thumb }}" data-lightbox="roadtrip"><img class="imgGrande" src="{{ gImg.thumb }}" alt="" width="100%"></a> 
                                        
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>

                    <div class="client-thumbnails">
                        <ngx-slick-carousel 
                        class="carousel thumbs" 
                        #slickModal="slick-carousel" 
                        [config]="thumbnailsSlider ">
                        <div id="container-imgPequeña" ngxSlickItem *ngFor="let gImg of GaleriaAlquiler" class="slide">
                            <img class="imgPequeña" src="{{ gImg.thumb }}" alt="" width="100%">
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
                <div style="text-align: center;"><p class="pinfo">Click sobre imagen para ver más</p></div>
                
            <hr class="divisor">
            <!-- Ubicacion -->
            <h4 class="subTitulo"><i class="fas fa-map-marker-alt"></i>Ubicación</h4>
            <div class="map-overlay">
                <p>Click sobre el mapa para interactuar</p>
            </div>
            <div id="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions" (click)="ActivarMapa()"></div>
            
            <div style="text-align: center;"><p class="pinfo">La ubicación exacta se la brindará el hospedante</p></div>
            
            <hr id="toContact" class="divisor">
            <!-- Contacto -->
            <h4 class="subTitulo"><i class="fas fa-address-card"></i>Contacto</h4>
            
           
           
                <div class="DatosContacto row d-flex justify-content-center">
               
                    <div *ngIf="alquiler.telefono1!=''" class="card-info col-6 col-md-3">
                        <img src="assets/otros/Tel1.png" alt="">
                        <h6>Telefono 1</h6>
                        <p>{{alquiler.telefono1}}</p>
                    </div>
                    <div *ngIf="alquiler.telefono2!=''" class="card-info col-6 col-md-3">
                        <img src="assets/otros/Tel2.png" alt="">
                        <h6>Telefono 2</h6>
                        <p>{{alquiler.telefono2}}</p>
                    </div>
                    <div *ngIf="alquiler.mail!=''" class="card-info col-6 col-md-3">
                        <img src="assets/otros/PaperPlane.png" alt="">
                        <h6>Mail</h6>
                        <p>{{alquiler.mail}}</p>
                    </div>
                    <div *ngIf="alquiler.web!=''" class="card-info col-6 col-md-3">
                        <img src="assets/otros/Web.png" alt="">
                        <h6>Web</h6>
                        <a target="_blank" [href]="alquiler.web">Click para ver</a>
                    </div>
                </div>
           
                <div class="box-contacto row">
                    <div class="col-12 col-md-6" style="text-align: center;">
                        <img src="assets/otros/mailContact.jpg" alt="">
                    </div>
                    <div class="col-12 col-md-6" style="text-align: center;">
                        <h5>¡Despejá las dudas!</h5>
                        <p>Te ayudamos con tu consulta</p>
                        <hr class="hr-contact">
                        <div class="contact-buttons">
                            <button type="button" class="btn btn-dark mail" data-toggle="modal" data-target="#Modal4"><i class="fas fa-envelope"></i> Consultar por Mail</button>
                            <a target="_blank" href="https://wa.me/{{alquiler.wpp}}?text=Hola%2C%20Te%20escribo%20por%20tu%20alojamiento%20publicado%20en%20valleserrano.ar"><button type="button" class="btn btn-dark wpp"><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</button></a>
                        </div>
                    </div>
                    
                </div>
                
            
            <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
           
            <hr id="toRaiting" class="divisor">
            <!-- Comentarios -->
            <h4 class="subTitulo"><i class="fas fa-user-friends"></i>Reseñas</h4>

            <div class="container reseñas">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-4">
                            <div class="text-center">
                                <h5 class="txt-raiting">{{alquiler.Raiting}}</h5>
                                <div>
                                    <ngb-rating [(rate)]="alquiler.Raiting" [max]="5" [readonly]='true'>
                                        <ng-template let-fill="fill">
                                          <span class="defaultstar" [class.color]="fill === 100">
                                            <span class="paintedstar" [style.width.%]="fill">★</span>★
                                          </span>
                                        </ng-template>
                                    </ngb-rating>
                                </div>
                                <p>{{alquiler.cantValoraciones}} valoraciones</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="bar">
                                <p class="label-bar">5 estrellas</p>
                                <p style="width: 100%; margin-bottom: 0%;"><ngb-progressbar height="8px" [showValue]="false" type="success" [value]="total5" [max]="alquiler.cantValoraciones"></ngb-progressbar></p>
                                <p class="numero">{{total5}}</p>
                            </div>
                            <div class="bar">
                                <p class="label-bar">4 estrellas</p>
                                <p style="width: 100%; margin-bottom: 0%;;"><ngb-progressbar height="8px" [showValue]="false" type="success" [value]="total4" [max]="alquiler.cantValoraciones"></ngb-progressbar></p>
                                <p class="numero">{{total4}}</p>
                            </div>
                            <div class="bar">
                                <p class="label-bar">3 estrellas</p>
                                <p style="width: 100%; margin-bottom: 0%;"><ngb-progressbar height="8px" [showValue]="false" type="success" [value]="total3" [max]="alquiler.cantValoraciones"></ngb-progressbar></p>
                                <p class="numero">{{total3}}</p>
                            </div>
                            <div class="bar">
                                <p class="label-bar">2 estrellas</p>
                                <p style="width: 100%; margin-bottom: 0%;"><ngb-progressbar height="8px" [showValue]="false" type="success" [value]="total2" [max]="alquiler.cantValoraciones"></ngb-progressbar></p>
                                <p class="numero">{{total2}}</p>
                            </div>
                            <div class="bar">
                                <p class="label-bar">1 estrellas</p>
                                <p style="width: 100%; margin-bottom: 0%;"><ngb-progressbar height="8px" [showValue]="false" type="success" [value]="total1" [max]="alquiler.cantValoraciones"></ngb-progressbar></p>
                                <p class="numero">{{total1}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="agregar" style="text-align: center;"><button type="button" data-toggle="modal" data-target="#Modal1" class="btn btn-dark"><i class="fas fa-plus-circle"></i>Agregar mi Reseña</button></div>
            </div>
            <hr class="reseñasHr">
            <p-messages [(value)]="alerta" [enableService]="false"></p-messages>

            <div class="container">
                <p class="mss">Últimas Reseñas</p>
                <div *ngFor="let comentario of UltimosComentarios;">
                    <div class="card comentario">
                        <div class="d-flex justify-content-between">
                            <ngb-rating [(rate)]="comentario.raiting" [max]="5" [readonly]='true'>
                                <ng-template let-fill="fill">
                                    <span class="starComent" [class.color]="fill === 100">
                                    <span class="paintedComent" [style.width.%]="fill">★</span>★
                                    </span>
                                </ng-template>
                           </ngb-rating>
                           <h5>{{comentario.fecha}}</h5>
                        </div>
                      
                       <h6>{{comentario.titulo}}</h6>
                       <p>{{comentario.descripcion}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div style="text-align: center;">
                <button type="button" class="btnTodos btn btn-dark" data-toggle="modal" data-target="#Modal2"><i class="fas fa-eye"></i> Ver Todos</button>
            </div>
               
            <hr class="divisor">
            <!-- Otros Datos -->
            <h4 class="subTitulo"><i class="fas fa-list"></i>Condiciones y Politicas</h4>
            
                <div [ngClass]="{'limitConditionsHeight': isLeerMas}" class="container Condiciones">
                    <div class="Condicion" *ngFor ="let condicion of CondicionesAlquiler">
                        <i class="fas fa-angle-right"></i>
                        <strong>{{condicion.titulo}}: </strong>
                        {{condicion.descripcion}}
                    </div>
                </div>
            
            <div class="readMore d-flex align-items-center"><hr class="izq"><a type="button" (click)="showConditios()">{{ isLeerMas ? 'Ver Más': 'Ver Menos' }}</a><hr  class="der"></div>

            
            <!-- ModalServicios -->
            <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header align-items-center h-100">
                            <h5 class="modal-title">Viendo los servicios de {{alquiler.nombre}}</h5>
                            <button id="btnCerrarModal" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                
                                <div *ngFor ="let servicio of ServiciosAlquiler" class="servicio">
                                    <img [src]="servicio.icono" class="card-img-top">
                                    <p><span>{{servicio.servicio}}</span>  {{servicio.descripcion}}</p>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ModalContacto -->
            <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header align-items-center h-100">
                            <h5 class="modal-title">Enviando una consulta al alojamiento {{alquiler.nombre}}</h5>
                            <button id="btnCerrarModal" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                
                                <div class="form-contact" style="background-image: url('assets/fondos/Contact.jpg')">
                                    <form  [formGroup]="formContact" (ngSubmit)="enviarMail($event)" method="POST" name="contactForm" class="contactForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">Nombre Completo</label>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div class="left-icon"><img src="assets/otros/Person.png" alt=""></div>
                                                        <input [ngClass]="{'has-error':nameField?.invalid && (nameField?.dirty || nameField?.touched)}" type="text" class="form-control" name="name" placeholder="Nombre" formControlName="name">
                                                    </div>
                                                    <div class="Input-error"  *ngIf="nameField?.invalid && (nameField?.dirty || nameField?.touched)">
                                                        <p *ngIf="nameField?.errors?.required">
                                                            <small>El campo es requerido.</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> 
                                                <div class="form-group">
                                                    <label class="label" for="email">Mail</label>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div class="left-icon"><img src="assets/otros/Email.png" alt=""></div>
                                                        <input [ngClass]="{'has-error':emailField?.invalid && (emailField?.dirty || emailField?.touched)}" type="email" class="form-control" name="email" id="email"  placeholder="Email" formControlName="email">
                                                    </div>
                                                    <div class="Input-error"  *ngIf="emailField?.invalid && (emailField?.dirty || emailField?.touched)">
                                                        <p *ngIf="emailField?.errors?.required">
                                                            <small>El campo es requerido.</small>
                                                        </p>
                                                        <p *ngIf="emailField?.errors?.pattern">
                                                            <small>Ingrese un Mail valido.</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> 
                                                <div class="form-group">
                                                    <label class="label" for="telefono">Telefono</label>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div class="left-icon"><img src="assets/otros/Phone.png" alt=""></div>
                                                        <input [ngClass]="{'has-error':phoneField?.invalid && (phoneField?.dirty || phoneField?.touched)}" type="text" class="form-control" name="phone"  placeholder="Telefono" formControlName="phone">
                                                    </div>
                                                    <div class="Input-error"  *ngIf="phoneField?.invalid && (phoneField?.dirty || phoneField?.touched)">
                                                        <p *ngIf="phoneField?.errors?.required">
                                                            <small>El campo es requerido.</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="provincia">Provincia</label>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div class="left-icon"><img src="assets/otros/Map.png" alt=""></div>
                                                            <select [ngClass]="{'has-error':stateField?.invalid && (stateField?.dirty || stateField?.touched)}" class="browser-default custom-select mdb-select md-form" name="state" formControlName="state">
                                                                <option value="" disabled selected>Seleccione la provincia</option>
                                                                <option value="Buenos Aires">Buenos Aires</option>
                                                                <option value="Catamarca">Catamarca</option>
                                                                <option value="Chaco">Chaco</option>
                                                                <option value="Chubut">Chubut</option>
                                                                <option value="Córdoba">Córdoba</option>
                                                                <option value="Corrientes">Corrientes</option>
                                                                <option value="Entre Ríos">Entre Ríos</option>
                                                                <option value="Formosa">Formosa</option>
                                                                <option value="Jujuy">Jujuy</option>
                                                                <option value="La Pampa">La Pampa</option>
                                                                <option value="La Rioja">La Rioja</option>
                                                                <option value="Mendoza">Mendoza</option>
                                                                <option value="Misiones">Misiones</option>
                                                                <option value="Neuquén">Neuquén</option>
                                                                <option value="Salta">Salta</option>
                                                                <option value="San Juan">San Juan</option>
                                                                <option value="San Luis">San Luis</option>
                                                                <option value="Santa Cruz">Santa Cruz</option>
                                                                <option value="Santa Fe">Santa Fe</option>
                                                                <option value="Santiago del Estero">Santiago del Estero</option>
                                                                <option value="Tierra del Fuego">Tierra del Fuego</option>
                                                                <option value="Tucumán">Tierra del Fuego</option>
                                                            </select>  
                                                    </div>
                                                    <div class="Input-error"  *ngIf="stateField?.invalid && (stateField?.dirty || stateField?.touched)">
                                                        <p *ngIf="stateField?.errors?.required">
                                                            <small>Selecciona una provincia.</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div  class="col-md-12" style="text-align: center;"><p class="pContacto">Datos de mi Estadía</p></div>
                                            <div class="col-md-12"><hr class="hrContacto"></div>
                                            
                                            
                                                <div class="col-6 col-md-3"> 
                                                    <div class="form-group">
                                                        <label  class="label" for="fechadesde">Entrada: </label>
                                                        <input type="date" class="form-control" formControlName="entrada" name="entrada">  
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-3"> 
                                                    <div class="form-group">
                                                        <label  class="label" for="fechaHasta">Salida: </label>
                                                        <input type="date" class="form-control" formControlName="salida" name="salida"> 
                                                    </div>
                                                </div>
                                                   
                                                <div class="col-6 col-md-3"> 
                                                    <div class="form-group">
                                                        <label  class="label" for="mayores">P. Mayores: </label>
                                                        <input [ngClass]="{'has-error':mayorField?.invalid && (mayorField?.dirty || mayorField?.touched)}" type="text" class="form-control" name="mayores" formControlName="mayor">
                                                        <div class="Input-error2"  *ngIf="mayorField?.invalid && (mayorField?.dirty || mayorField?.touched)">
                                                            <p *ngIf="mayorField?.errors?.pattern">
                                                                <small>Ingresa un número.</small>
                                                            </p>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-3"> 
                                                    <div class="form-group">
                                                        <label  class="label" for="menores">P. Menores: </label>
                                                        <input [ngClass]="{'has-error':menorField?.invalid && (menorField?.dirty || menorField?.touched)}" type="text" class="form-control" name="menores" formControlName="menor">  
                                                        <div class="Input-error2"  *ngIf="menorField?.invalid && (menorField?.dirty || menorField?.touched)">
                                                            <p *ngIf="menorField?.errors?.pattern">
                                                                <small>Ingresa un número.</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            
                                           <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="#">Consulta</label>
                                                    <textarea name="message" class="form-control" formControlName="message" cols="30" rows="3" placeholder="Consulta"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group" style="text-align: center;">
                                                   <input type="submit" value="✔ Enviar"  data-dismiss="modal" (click)="enviarMail($event)" class="btn btn-dark btnEnviar">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- ModalComentarios -->
             <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header align-items-center h-100">
                            <h5 class="modal-title">Viendo las reseñas de {{alquiler.nombre}}</h5>
                            <button id="btnCerrarModal" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div *ngFor="let comentario of ComentariosAlquiler;">
                                    <div class="card comentario">
                                        <div class="d-flex justify-content-between">
                                            <ngb-rating [(rate)]="comentario.raiting" [max]="5" [readonly]='true'>
                                                <ng-template let-fill="fill">
                                                    <span class="starComent" [class.color]="fill === 100">
                                                    <span class="paintedComent" [style.width.%]="fill">★</span>★
                                                    </span>
                                                </ng-template>
                                           </ngb-rating>
                                           <h6>{{comentario.fecha}}</h6>
                                        </div>
                                      
                                       <h6>{{comentario.titulo}}</h6>
                                       <p>{{comentario.descripcion}}</p>
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Modal Reseña -->
             <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header align-items-center h-100">
                        <h5 class="modal-title">Califica tu experiencia con {{alquiler.nombre}}</h5>
                        <button id="btnCerrarModal" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="container Creseña">
                            <div class="star-widget">
                                
                                <input class="in" type="radio" name="rate" id="rate-5" value="5" [(ngModel)]="SelectNum">
                                <label for="rate-5" class="fas fa-star"></label>
                                <input class="in" type="radio" name="rate" id="rate-4" value="4" [(ngModel)]="SelectNum"> 
                                <label for="rate-4" class="fas fa-star"></label>
                                <input class="in" type="radio" name="rate" id="rate-3" value="3" [(ngModel)]="SelectNum">
                                <label for="rate-3" class="fas fa-star"></label>
                                <input class="in" type="radio" name="rate" id="rate-2" value="2" [(ngModel)]="SelectNum">
                                <label for="rate-2" class="fas fa-star"></label>
                                <input class="in" type="radio" name="rate" id="rate-1" value="1" [(ngModel)]="SelectNum">
                                <label for="rate-1" class="fas fa-star"></label>
                                
                                <div style="text-align: center;" class="Input-error2"  *ngIf="SelectNum==0">
                                    <p>
                                        <small>Selecciona una estrella para calificar tu experiencia</small>
                                    </p>
                                </div>

                                <form class="formreseña" [formGroup]="formComentarios" (ngSubmit)="PublicarComentario($event)">
                                    <header></header>
                                    
                                    <p>Mail</p>
                                    <input [ngClass]="{'has-error':mail?.invalid && (mail?.dirty || mail?.touched)}" class="form-control" type="email" name="mail" placeholder="Tu correo electrónico" formControlName="mail"> 
                                    <div class="Input-error2"  *ngIf="mail?.invalid && (mail?.dirty || mail?.touched)">
                                        <p *ngIf="mail?.errors?.required">
                                            <small>El campo es requerido.</small>
                                        </p>
                                        <p *ngIf="mail?.errors?.pattern">
                                            <small>Ingrese un Mail valido.</small>
                                        </p>
                                    </div>
                                    
                                    <hr class="reseñasHr">
                                   
                                    <p>Resumen</p>
                                    <input [ngClass]="{'has-error':titulo?.invalid && (titulo?.dirty || titulo?.touched)}" class="form-control" type="text" name="titulo" placeholder="Tu experiencia en pocas palabras" formControlName="titulo"> 
                                    <div class="Input-error2"  *ngIf="titulo?.invalid && (titulo?.dirty || titulo?.touched)">
                                        <p *ngIf="titulo?.errors?.required">
                                            <small>El campo es requerido.</small>
                                        </p>
                                        <p *ngIf="titulo?.errors?.maxlength">
                                            <small>Excediste el número de caracteres(30).</small>
                                        </p>
                                    </div>

                                   <p>Descripción</p>
                                    <div class="textarea">
                                        <textarea [ngClass]="{'has-error':descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)}" class="form-control" name="descripcion" cols="30" placeholder="Describe con detalles como te fue durante tu estadia..." formControlName="descripcion"></textarea>
                                    </div>
                                    <div class="Input-error2"  *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)">
                                        <p *ngIf="descripcion?.errors?.required">
                                            <small>El campo es requerido.</small>
                                        </p>
                                        <p *ngIf="descripcion?.errors?.minlength">
                                            <small>El mensaje debe al menos 30 caracteres</small>
                                        </p>
                                        <p *ngIf="descripcion?.errors?.maxlength">
                                            <small>Excediste el número de caracteres(250)</small>
                                        </p>
                                    </div>

                                    <div class="btn">
                                        <button id="botonPost" (click)="PublicarComentario($event)" class="btnTodos btn btn-dark" *ngIf="formComentarios.valid&&SelectNum!=0" data-dismiss="modal">Publicar</button>

                                        <button id="botonPost" type="submit" class="btnTodos btn btn-dark" *ngIf="formComentarios.invalid||SelectNum==0">Publicar</button>

                                    </div>
                                </form>
                            </div>
                          
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-4">
            <div class="stick-pc" *ngIf="innerWidth>991">
                <div class="card pc" *ngFor ="let alquiler of DetaAlquiler">
                    <div class="row">
                        <div class="col precio-pc">
                            <h4>${{alquiler.precioGral}}</h4> 
                            <p>/{{alquiler.precioCond}}</p>
                        </div>
                        <div class="col btns">
                            <button type="button" class="btn btn-dark mail" (click)="scrollToContact()"><i class="fas fa-envelope"></i></button>
                            <a target="_blank" href="https://wa.me/{{alquiler.wpp}}?text=Hola%2C%20Te%20escribo%20por%20tu%20alojamiento%20publicado%20en%20valleserrano.ar"><button type="button" class="btn btn-dark wpp"><i class="fab fa-whatsapp"></i></button></a>
                        </div>
                    </div>
                    <hr class="tarifa-hr">
                    <p style="text-align: center;">Consulta por promociones y tarifas</p>
                </div>
            </div>
            <div *ngIf="innerWidth>991">
                <div *ngFor ="let alquiler of DetaAlquiler">
                    <div class="card box-verificado" *ngIf="alquiler.verificado==1">
                        <div class="row box">
                                <div class="col-3" style="text-align: center;">
                                    <img src="assets/otros/verify2.png" alt="">
                                </div>
                                <div class="col-9">
                                    <h6>Alojamiento Verificado</h6>
                                    <p>Valle Serrano se asegura que este alojamiento existe, la ubicación proporcionada es correcta, fotos, reseñas y servicios son reales.</p> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="Relacionados">
                <div style="text-align: center;"><h6>{{alquiler.categoria}} relacionados en {{alquiler.zona}}</h6></div>
                <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig" 
                >
                <div ngxSlickItem *ngFor="let relacionado of Relacionados" class="slide">
                <a [routerLink]="['/alojamiento/', relacionado.nombre, relacionado.id]" style="text-decoration: none;" target="_self">
                    <div class="card">
                        <img src="{{ relacionado.imgPrincipal }}" alt="">
                        
                        <div class="card-body">
                          <h5 class="card-title">{{relacionado.nombre}}</h5>
                          <div class="precio">
                            <h4>${{relacionado.precioGral}}</h4> 
                            <p>/{{relacionado.precioCond}}</p>
                          </div>

                          <div class="over-verify">
                            <div *ngIf="relacionado.verificado==1">
                                <img src="assets/otros/verify.png" alt="">
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
                </div>
                </ngx-slick-carousel>   
            </div>
                
           
        </div>
    </div>
</div>


