<div class="principalContainer container-fluid">
    <p-scrollTop [threshold]="200"></p-scrollTop>

    <header class="cabecera" style="background-image: url('assets/fondos/fondo.jpg')">
        <div class="text-center titulosCabecera">
                <h1>Contacto</h1>
        </div>
    </header>

    <br>
    <br>

    
    <div class="container bienvenida">
        <h4>Te damos la Bienvenida al Sitio</h4>
        <hr class="hrTitulo">

        <div class="row">
            <div class="col-sm-12 col-md-6 mensaje">
                <p>Como nos encanta nuestra valle, queremos que vos tambien lo disfrutes.
                    Por esto creamos "valleserrano.ar", donde encontraras todo lo que necesitas para tus vacaciones y escapadas a Traslasierra.
                    Descubre lo que cada localidad de la zona tiene para ofrecerte y encontrá, de manera facil y rapida, el lugar para hospedarte.
                </p>
                <p>Estamos en crecimiento, y ante cualquier sugerencia e idea que tengas no dudes en contactarnos, queremos que este se convierta
                    en tu sitio de confianza al pensar en Traslasierra.
                </p>
                <hr>
                <span>El equipo de desarrollo de "Valle Serrano"</span>
            </div>
            <div class="col-sm-12 col-md-6">
                <!-- <img src="assets/fondos/traslasierra.jpg" alt="" width="100%"> -->
                <div class="overlay-img" style="background-image: url('assets/fondos/traslasierra.jpg')"> 
                    <img src="assets/valle/logoT.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="divisor d-flex justify-content-between align-items-center">
        <h6>información de Contacto</h6>
        <i class="fas fa-id-card"></i>
    </div>
    <hr class="hrDivisor">

    <div class="informacion">
        <div class="d-flex justify-content-center align-items-center"><img src="assets/otros/Wp.png" alt="" width="30px" height="25px"><p>3544 407984</p></div>
        <div class="d-flex justify-content-center align-items-center"><img src="assets/otros/mail.png" alt="" width="30px" height="20px"><p>valleserranotraslasierra@gmail.com</p></div>
        <div class="d-flex justify-content-center align-items-center"><img src="assets/otros/Face.png" alt="" width="30px" height="23px"><p>facebook.com/mipagina.com</p></div>
    </div>
    <br>

    <div *ngIf="innerWidth>770" class="banner-web">
        <img src="assets/banners/Web.jpg" alt="" width="100%">
    </div>
    <div *ngIf="innerWidth<770" class="banner-movil">
        <img src="assets/banners/Phone.jpg" alt="" width="100%">
    </div>
    <br>
</div>
