
    <div class="info container d-flex justify-content-center align-items-center">
        <div style="text-align: center;">
            <img src="assets/otros/ok.png" alt="" width="300px" height="300px">
            <h3>Todo Ok!</h3>
            <h6>Tus datos se enviaron correctamente, en las proximas horas tu alojamiento estará disponible.</h6>
            <br>
            <button type="button"  routerLink="/" class="btnTodos btn btn-dark" ><i class="fas fa-home"></i> Ir al Inicio</button>
        </div>
        
    </div>