 /* Cabecera */
 .cabecera{
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 12vh;
    background-blend-mode: multiply;

    display: flex;
    justify-content: center;
    align-items: center;
}
.titulosCabecera{
    padding: 15px;
}
.titulosCabecera h1{
    width: 100%;
    font-size: 50px;
    font-family:"Pumpkin-Pancakes";
    color: white;
    margin: 0%;
}
/* ------------------------------ */

.linea{
    text-align: center;
    position: absolute;
    width: 90%;
    z-index: -10;
}

.Steps{
    position: relative;
    margin: 20px;
    padding: 20px;
    z-index: 2;
}
@media only screen and (max-width: 550px){
    .Steps{
        margin: 20px 10px;
        padding: 20px 10px;
    }
}

.StepMovil{
    display: flex;
    justify-content: center;
}
.step{
    width: 150px;
    text-align: center;
    margin: 0px 15px;
}
.numero{
    display: flex; 
    justify-content: center; 
    margin-bottom: 8px;
}
.step p{
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: #7f93b6;
    color: white;
    margin: 0%;
    padding: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.step span{
    color: #babec3;
}
.activo span{
    font-weight: 600;
    color: #33393d !important;
}
.activo p{
    background-color: #294B85;
}