<div class="principalContainer container-fluid">
    <p-scrollTop [threshold]="200"></p-scrollTop>

    <header class="cabecera" style="background-image: url('assets/fondos/fondo.jpg')">
        <div class="text-center titulosCabecera">
                <h1>Registro</h1>
        </div>
    </header>

    <br>
    
    

    <div class="container">
        <form  [formGroup]="form" method="POST" name="contactForm">
            <div class="row">

                <div class="divisor d-flex justify-content-between align-items-center">
                    <h6>Datos Basicos del alojamiento</h6>
                </div>
                <hr class="hrDivisor">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label" for="name">Nombre del alojamiento</label>
                        <input [ngClass]="{'has-error':nameField?.invalid && (nameField?.dirty || nameField?.touched)}" type="text" class="form-control" name="name" placeholder="Nombre de tu alojamiento" formControlName="name">
                        <div class="Input-error"  *ngIf="nameField?.invalid && (nameField?.dirty || nameField?.touched)">
                            <p *ngIf="nameField?.errors?.required">
                                <small>El campo es requerido.</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label" for="categoria">Categoria de Alojamiento</label>
                        
                                <select [ngClass]="{'has-error':categoriaField?.invalid && (categoriaField?.dirty || categoriaField?.touched)}" class="browser-default custom-select mdb-select md-form" name="categoria" formControlName="categoria">
                                    <option value="" disabled selected>Seleccione la localidad</option>
                                    <option value="1">Casas o Chalets</option>
                                    <option value="2">Departamentos o Duplex</option>
                                    <option value="3">Cabañas o Bungalows</option>
                                    <option value="4">Hoteles</option>
                                    <option value="5">Campings</option>
                                </select>  
                        </div>
                        <div class="Input-error"  *ngIf="categoriaField?.invalid && (categoriaField?.dirty || categoriaField?.touched)">
                            <p *ngIf="categoriaField?.errors?.required">
                                <small>Selecciona categoria.</small>
                            </p>
                        </div>
                </div>

                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="capacidad">capacidad Maxima</label>
                        <input [ngClass]="{'has-error':capacidadField?.invalid && (capacidadField?.dirty || capacidadField?.touched)}" type="text" class="form-control" name="capacidad"  placeholder="Capacidad Maxima" formControlName="capacidad">
                        
                        <div class="Input-error"  *ngIf="capacidadField?.invalid && (capacidadField?.dirty || capacidadField?.touched)">
                            <p *ngIf="capacidadField?.errors?.pattern">
                                <small>Ingresa un número.</small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="habitaciones">Número de Habitaciones</label>
                        <input [ngClass]="{'has-error':habitacionesField?.invalid && (habitacionesField?.dirty || habitacionesField?.touched)}" type="text" class="form-control" name="habitaciones"  placeholder="N° Habitaciones" formControlName="habitaciones">
                        
                        <div class="Input-error"  *ngIf="habitacionesField?.invalid && (habitacionesField?.dirty || habitacionesField?.touched)">
                            <p *ngIf="habitacionesField?.errors?.pattern">
                                <small>Ingresa un número.</small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label" for="descripcion">Descripción del Alojamiento</label>
                        <textarea name="descripcion" class="form-control" formControlName="descripcion" cols="30" rows="4" placeholder="Ej: Un complejo único con piscina. Ubicado a 2 cuadras del centro, con una hermosa vista a las Montañas.Los departamentos se encuentran en alquiler todo el año. etc."></textarea>
                    </div>
                    <div class="Input-error"  *ngIf="descripcionField?.invalid && (descripcionField?.dirty || descripcionField?.touched)">
                        <p *ngIf="descripcionField?.errors?.maxlength">
                            <small>El campo no puede tener mas de 500 caracteres.</small>
                        </p>
                    </div>
                </div>
                
                
                <div class="divisor d-flex justify-content-between align-items-center">
                    <h6>Ubicación</h6>
                </div>
                <hr class="hrDivisor">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label" for="localidad">Localidad</label>
                        
                                <select [ngClass]="{'has-error':localidadField?.invalid && (localidadField?.dirty || localidadField?.touched)}" class="browser-default custom-select mdb-select md-form" name="localidad" formControlName="localidad">
                                    <option value="" disabled selected>Seleccione la localidad</option>
                                    <option value="Mina">Mina Clavero</option>
                                    <option value="Brochero">Villa Cura Brochero</option>
                                    <option value="Nono">Nono</option>
                                    <option value="Rosas">Las Rosas</option>
                                    <option value="Lorenzo">San Lorenzo</option>
                                    <option value="Hornillos">Los Hornillos</option>
                                    <option value="Calles">Las Calles</option>
                                    <option value="Rabonas">Las Rabonas</option>
                                    
                                </select>  
                        </div>
                        <div class="Input-error"  *ngIf="localidadField?.invalid && (localidadField?.dirty || localidadField?.touched)">
                            <p *ngIf="localidadField?.errors?.required">
                                <small>Selecciona una localidad.</small>
                            </p>
                        </div>
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="direccion">Dirección</label>
                        <input [ngClass]="{'has-error':direccionField?.invalid && (direccionField?.dirty || direccionField?.touched)}" type="text" class="form-control" name="direccion"  placeholder="Ej: La Calera 2530" formControlName="direccion">
                        
                        <div class="Input-error"  *ngIf="direccionField?.invalid && (direccionField?.dirty || direccionField?.touched)">
                            <p *ngIf="direccionField?.errors?.required">
                                <small>El campo es requerido.</small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="divisor d-flex justify-content-between align-items-center">
                    <h6>Tarifa</h6>
                </div>
                <hr class="hrDivisor">

                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="precio">Precio a Mostrar</label>
                        <input [ngClass]="{'has-error':precioField?.invalid && (precioField?.dirty || precioField?.touched)}" type="text" class="form-control" name="precio"  placeholder="Ej: $2500" formControlName="precio">
                        
                        <div class="Input-error"  *ngIf="precioField?.invalid && (precioField?.dirty || precioField?.touched)">
                            <p *ngIf="direccionField?.errors?.pattern">
                                <small>Ingresa un número.</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label" for="condicion">Tipo de precio</label>
                        
                                <select [ngClass]="{'has-error':condicionField?.invalid && (condicionField?.dirty || condicionField?.touched)}" class="browser-default custom-select mdb-select md-form" name="condicion" formControlName="condicion">
                                    <option value="xPersona">X Persona</option>
                                    <option value="xNoche">X Noche</option>
                                </select>  
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="info">
                        <p>Este es el precio a mostrar de tu alojamiento, si no deseas que se vea, deja el campo en blanco</p>
                        <img src="assets/otros/arrow.jpg" alt="">
                    </div>
                </div>



                <div class="divisor d-flex justify-content-between align-items-center">
                    <h6>Contacto</h6>
                </div>
                <hr class="hrDivisor">

                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="mail">Mail</label>
                        <input [ngClass]="{'has-error':mailField?.invalid && (mailField?.dirty || mailField?.touched)}" type="text" class="form-control" name="mail"  placeholder="Tu mail de contacto" formControlName="mail">
                        
                        <div class="Input-error"  *ngIf="mailField?.invalid && (mailField?.dirty || mailField?.touched)">
                            <p *ngIf="mailField?.errors?.pattern">
                                <small>Ingresa un mail válido.</small>
                            </p>
                            <p *ngIf="mailField?.errors?.required">
                                <small>El campo es requerido.</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="web">Web</label>
                        <input type="text" class="form-control" name="web"  placeholder="Ej: www.misitioweb.com" formControlName="web">
                       <p class="web-info">Tambien puedes agregar el link de tu pagina de facebook por ejemplo.</p>
                    </div>
                </div>

                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="telefono1">Telefono N° 1</label>
                        <input [ngClass]="{'has-error':telefono1Field?.invalid && (telefono1Field?.dirty || telefono1Field?.touched)}" type="text" class="form-control" name="telefono1"  placeholder="Telefono principal" formControlName="telefono1">
                        
                        <div class="Input-error"  *ngIf="telefono1Field?.invalid && (telefono1Field?.dirty || telefono1Field?.touched)">
                            <p *ngIf="telefono1Field?.errors?.pattern">
                                <small>Ingresa un número.</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="label" for="telefono2">Telefono N° 2</label>
                        <input [ngClass]="{'has-error':telefono2Field?.invalid && (telefono2Field?.dirty || telefono2Field?.touched)}" type="text" class="form-control" name="telefono2"  placeholder="Telefono secundario" formControlName="telefono2">
                        
                        <div class="Input-error"  *ngIf="telefono2Field?.invalid && (telefono2Field?.dirty || telefono2Field?.touched)">
                            <p *ngIf="telefono2Field?.errors?.pattern">
                                <small>Ingresa un número.</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    
                    <div class="info">
                        <p style="text-align: center; margin-bottom: 8px;">Telefono al que recibiras los whatsapps </p>
                        <div class="d-flex justify-content-center align-items-center">
                            <input type="radio" checked  name="wpp" value="1" formControlName="wpp">
                            <p style="font-weight: 600;">Telefono1</p>
    
                            <input type="radio" name="wpp" value="2" formControlName="wpp">
                            <p style="font-weight: 600;">Telefono2</p>
                        </div>
                    </div>
                   
                </div>

            </div>
        </form>

       
        <div class="divisor d-flex justify-content-between align-items-center">
            <h6>Servicios</h6>
        </div>
        <hr class="hrDivisor">

        <h6 style="text-align: center;">Seleccioná los servicios que ofreces, agrega una observación corta si es necesario.</h6>
           
       
            <div class="row servicios">
                <div class="d-flex align-items-center justify-content-center col-12 col-md-6 servicio" *ngFor ="let servicio of Servicios">
                    <div class="s">
                        <input type="checkbox" name="{{servicio.name}}" value="{{servicio.name}}" [(ngModel)]="servicio.isSelected">
                        <label for="#">{{servicio.name}}</label>
                    </div>
                    <div class="desc">
                            <input type="text" class="form-control" [(ngModel)]="servicio.descripcion" placeholder="Observación">
                    </div>
                </div>
            </div>
          
        

        <div class="container">
            <hr class="hrDivisor">
            <div class="form-group" style="text-align: center;">
               <input type="submit" value="✔ Enviar" (click)="enviar($event)" class="btn btn-dark btnEnviar">
            </div>
        </div>

        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
            >
            <p style="font-size: 20px; color: white">Enviando...</p>
        </ngx-spinner>

        <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
        
    </div>
</div>