/* You can add global styles to this file, and also import other style files */
.leaflet-container{
 z-index: 99 !important;
}

.slick-prev:before, .slick-next:before{
   color: #141414 !important;
}

.hrfooter{
   border-top: 1px solid #F20746;
   width: 100%;
   margin: 0%;
}

.ngx-pagination{
   padding: 0% !important;
}
.ngx-pagination .current{
 background: #294B85 !important;
}

.p-dropdown{
   width: 300px !important;
}

/*Stepper */
.p-steps-number{
   color: white !important;
   background: #294B85 !important;
}


/* footer */
.Links{
   background-color: #2e2e2e;
   padding: 20px;
   text-align: center;
}
.btn-nav{
   margin: 5px 10px;
}
.navegacion a{
   text-decoration: none;
   color: rgb(241, 241, 241);
   font-family: "Montserrat-Regular";
}
.navegacion a:hover{
   text-decoration: none;
   color: rgb(241, 241, 241);
}
.Links p{
   font-family: "Asap-Regular";
   color: rgb(235, 235, 235);
   font-size: 15px;
   padding: 10px;
   margin: 0%;
}
.navegacion i{
   color: #799ad4;
   margin-right: 5px;
}
.social i{
   color: white;
   margin: 0%;
}
.social{
   margin: 10px;
}
.marca{
   text-align: center;
   background-color: black;
   padding: 15px;
}
.marca img{
   width: 150px;
}
/* ------------------------------ */


/* Scroll Top */
.p-scrolltop{
   width: 2.3rem !important;
   height: 2.3rem !important;
}
.p-scrolltop.p-link{
   background: #294b85c9 !important;
}
/* ------------------------------ */


@font-face {
    font-family: "Afterglow-Regular";
    src: url('../src/assets/fonts/Afterglow-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Chapaza";
    src: url('../src/assets/fonts/Chapaza.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "CaviarDreams";
    src: url('../src/assets/fonts/CaviarDreams.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Montserrat-Regular";
    src: url('../src/assets/fonts/Montserrat-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
   font-family: "Poppins-Medium";
   src: url('../src/assets/fonts/Poppins-Medium.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-ExtraLight";
   src: url('../src/assets/fonts/Poppins-ExtraLight.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-Light";
   src: url('../src/assets/fonts/Poppins-Light.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-Regular";
   src: url('../src/assets/fonts/Poppins-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-Thin";
   src: url('../src/assets/fonts/Poppins-Thin.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Pumpkin-Pancakes";
    src: url('../src/assets/fonts/Pumpkin-Pancakes.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Roboto-Medium";
    src: url('../src/assets/fonts/Roboto-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Roboto-Regular";
    src: url('../src/assets/fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Roboto-Bold";
    src: url('../src/assets/fonts/Roboto-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
   font-family: "Asap-Regular";
   src: url('../src/assets/fonts/Asap-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Amaranth-Regular";
   src: url('../src/assets/fonts/Amaranth-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}


/* ModalRese침a */
.Crese침a{
   position: relative;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
}
.Crese침a .star-widget .in{
   display: none;
}
.star-widget label{
   font-size: 40px;
   color: rgb(163, 162, 162);
   padding: 10px;
   float: right;
   transition: all 0.2s ease;
   margin-bottom: 15px;
}

.star-widget .in:not(:checked) ~ label:hover,
.star-widget .in:not(:checked) ~ label:hover ~ label{
   color: #F20746;

}

.star-widget .in:checked ~ label{
   color: #F20746;
}
.star-widget .in#rate-5:checked ~ label{
   color: #ff1f5b;
   text-shadow: 0 0 20px rgba(255, 238, 144, 0.678);
}

.star-widget .in#rate-1:checked ~ form header:before{
   content: "Muy mala 游";
}
.star-widget .in#rate-2:checked ~ form header:before{
   content: "Mala 游";
}
.star-widget .in#rate-3:checked ~ form header:before{
   content: "Regular 游땏";
}
.star-widget .in#rate-4:checked ~ form header:before{
   content: "Muy buena 游땙";
}
.star-widget .in#rate-5:checked ~ form header:before{
   content: "Excelente 游땘";
}

.formrese침a header{
   width: 100%;
   font-size: 25px;
   color: #222;
   font-family: "Poppins-Medium";
   font-weight: 500;
   margin: 5px 0 20px 0;
   text-align: center;
   transition: all 0.2s ease;
}
.formrese침a .textarea{
   height: 100px;
   width: 100%;
   overflow: hidden;
} 
.formrese침a p{
   margin-top: 6px;
   margin-bottom: 3px;
   color: rgb(36, 36, 36);
   font-family: "Roboto-Medium";
}

.formrese침a .textarea textarea{
   height: 100%;
   width: 100%;
   outline: none;
   color: rgb(24, 24, 24);
   border: 1px solid rgb(192, 192, 192);
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   padding: 10px;
   font-size: 17px;
   resize: none;
}

.formrese침a .btn{
   height: 45px;
   width: 100%;
   margin: 20px 0;
   padding: 0%;
}
.formrese침a .btn button{
   height: 100%;
   width: 100%;
   font-size: 17px;
   font-weight: 500;
   text-transform: uppercase;
   cursor: pointer;
   transition: all 0.3s ease;
   margin: 0%;
   padding: 0%;
}
/* --------------------------------------------------- */