/* You can add global styles to this file, and also import other style files */
.hrfooter{
   border-top: 1px solid #F20746;
   width: 100%;
   margin: 0%;
}

.ngx-pagination{
   padding: 0% !important;
}
.ngx-pagination .current{
 background: #294B85 !important;
}


.p-dropdown{
   width: 300px !important;
}

/* Scroll Top */
.p-scrolltop{
   width: 2.3rem !important;
   height: 2.3rem !important;
}
.p-scrolltop.p-link{
   background: #294b85c9 !important;
}
/* ------------------------------ */


@font-face {
    font-family: "Afterglow-Regular";
    src: url('../src/assets/fonts/Afterglow-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Chapaza";
    src: url('../src/assets/fonts/Chapaza.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "CaviarDreams";
    src: url('../src/assets/fonts/CaviarDreams.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Montserrat-Regular";
    src: url('../src/assets/fonts/Montserrat-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
   font-family: "Poppins-Medium";
   src: url('../src/assets/fonts/Poppins-Medium.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-ExtraLight";
   src: url('../src/assets/fonts/Poppins-ExtraLight.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-Light";
   src: url('../src/assets/fonts/Poppins-Light.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-Regular";
   src: url('../src/assets/fonts/Poppins-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-Thin";
   src: url('../src/assets/fonts/Poppins-Thin.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Pumpkin-Pancakes";
    src: url('../src/assets/fonts/Pumpkin-Pancakes.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Roboto-Medium";
    src: url('../src/assets/fonts/Roboto-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Roboto-Regular";
    src: url('../src/assets/fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Roboto-Bold";
    src: url('../src/assets/fonts/Roboto-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
   font-family: "Asap-Regular";
   src: url('../src/assets/fonts/Asap-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Amaranth-Regular";
   src: url('../src/assets/fonts/Amaranth-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}